@using System.ComponentModel.DataAnnotations;
@inject AuthenticationStateProvider authProvider
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation

@page "/Login"

<CardGrid Style="width:50%">
    <Form Model="@model"
          OnFinish="LogInCredentials"
          LabelColSpan="6"
          WrapperColSpan="14">
        <FormItem Label="Usuario">
            <Input @bind-Value="@context.Username" />
        </FormItem>
        <FormItem Label="Senha">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Entrar
            </Button>
            <Button Type="@ButtonType.Default" @onclick="CreateUser">
                Criar usuario
            </Button>
        </FormItem>
    </Form>
</CardGrid>
<CardGrid Style="width: 50%; box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #ffffff, 1px 1px 0 0 #f0f0f0, 1px 0 0 0 #f0f0f0 inset, 0 1px 0 0 #f0f0f0 inset;">
    <div>
        <Button Block @onclick="LogInGoogle"> Entrar com a conta Google </Button>
    </div>
</CardGrid>
@code
{
    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
    }

    private Model model = new Model();
    private Task<IJSObjectReference> _internalModule;
    private Task<IJSObjectReference> Module => _internalModule ??= jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Authentication.js").AsTask();


    private async Task LogInCredentials()
    {
        var module = await Module;
        var token = await module.InvokeAsync<string>("LoginCredentials", model.Username, model.Password);
        if (!string.IsNullOrEmpty(token))
        {
            Console.WriteLine(token);
            await((CustomAuthenticationStateProvider)authProvider).MarkUserAsAuthenticated();
            Navigation.NavigateTo("/");
        }
    }

    private async Task LogInGoogle()
    {
        var module = await Module;
        var token = await module.InvokeAsync<string>("LoginGoogle");
        if (!string.IsNullOrEmpty(token))
        {
            await localStorage.SetItemAsync("tokenJWT", token);
            await ((CustomAuthenticationStateProvider)authProvider).MarkUserAsAuthenticated();
            Navigation.NavigateTo("/");
        }
    }
    private async Task CreateUser()
    {
        var module = await Module;
        var created = await module.InvokeAsync<bool>("CreateUser", model.Username, model.Password);
        if (created)
            Console.WriteLine("Usuario criado com sucesso");
        else
            Console.WriteLine("Erro na criação do usuario");
    }
}